body{
  box-sizing: border-box;
  background-color: cornflowerblue;
}
.root {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  background-color: rgb(219, 219, 219);
  padding: 10px;
  border-radius: 5px;

}

.item-container{
  display: flex;
  margin: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
.item-img{
  width: 70%;
  height: 75%;

}
.item-button{
  margin: 3% 5%;
  width: 90%;
}
.reset-button{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

